.joints_list{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    max-height: 200px;
    padding: 10px;
}

.joints_list div img{
    border-radius: 10px;
    margin-right: 3px;
}

.joints_list::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}